PORT=3333
DB_CLIENT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=agendapro
DB_USER=root
DB_PASSWORD=
DB_CONNECTION_LIMIT=10
PLATFORM_ADMIN_EMAILS=
PLATFORM_ADMIN_PASSWORD=
Z_API_BASE_URL=https://api.z-api.io
Z_API_INSTANCE_ID=
Z_API_TOKEN=
Z_API_CLIENT_TOKEN=
